/* .icon::before {
  content: "≡";
  transition: 0.3s ease-in-out;
}

.openIcon::before {
    content: "x";
} */


 .closedIcon {
  transition: var(--transition-default);
  opacity: 0%;
  display: none;
 }

.openIcon{
  transition: var(--transition-default);
  opacity: 100%;
  display: block;
} 

.menu {
  display: none;
  padding: 0;
}

.open {
    display: flex;
    position: absolute;
    top:100%;
    min-height: 20vh;
    padding: 0;
    width: 100vw;
    background-color: var(--background-color-main);
    right:0;
    flex-direction: column;
    border-top: var(--border-default);
}

.humbWrapper {
  display: none;
  @media (max-width:1023.5px) {
    display: block;
  }
}

.humbLine {
  padding: 1.6rem 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-default);
  border-left: var(--border-default);
  border-right: var(--border-default);
  @media (max-height:400px) {
    padding: 0.6rem 1.3rem;
  }
  padding: 0.6rem 1.3rem;
}




a.link {
  all:unset;
}

