@import url(./reset.css);
@import url(./breakpoints.css);
@import url(./font-size.css);
@import url(./space.css);
@import url(./text.css);
@import url(./ui/ui.css);
@import url(./color.css);
@import "tailwindcss";
@import "tw-animate-css";


@layer utilities {
  .font-def {
    font-family: var(--font-family-regular);
  }
   .hover-hl:hover {
    background-color: var(--background-color-3);
  }

  .dark {
    background-color: var(--text-color-regular);
  }
}
@custom-variant dark (&:is(.dark *));



:root {
  /* COLORS */
  --background-color-main: #ffffff;
  --background-color-1: #ffffff;
  --background-color-2: #f1f1f1;
  --background-color-3: #a694ff;
  --background-color-4: #ffedec;
  --accent-color-main: #a694ff;
  /* --accent-color-main: #8291FF; */
  --text-color-dull: #988db9;
  --text-color-regular: #201541;
  --text-color-bright: #680aff;
  --text-color-opposite: #ffffff;
  --logo-color-dark: #1f1440;
  --text-color-dull-2: #d4d4d4;
  --text-color-dull-3: #8f8f8f;

  /* FONTS */
  --font-size-big: 32px;
  --font-size-medium: 26px;
  --font-size-regular: 24px;
  --font-size-small: 16px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-extraLight: 200;

  --font-family-regular: "Onest";
  --font-family-accent: "NEUTRALFACE";

  /* SPACING */
  --spacing-xl: 2.2rem;
  --spacing-l: 1.5rem;
  --spacing-m: 1rem;
  --spacing-s: 0.4rem;
  --spacing-xs: 0.2rem;

  --padding-hor: 1.2rem;

  --border-default: 0.02rem solid var(--text-color-regular);
  --border-opposite: 0.02rem solid var(--text-color-opposite);
  --transition-default: all 0.3s ease-in-out;

  --min-width: 300px;

  --gradient-2: linear-gradient(
    rgba(0, 0, 1, 0.039) 0%,
    rgba(0, 0, 1, 0) 15%,
    rgba(0, 0, 1, 0.151) 75%,
    #00000053 90%,
    rgba(0, 0, 0, 0.42) 100%
  );

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

svg {
  @media (--xs) {

  }
  stroke-width: 1;
  stroke: var(--background-color-1);
}

html {
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;
  /* -ms-user-select: none;
  -webkit-user-select: none; */
  /* user-select: none; */
  background-color: transparent;

  ::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
    color: transparent;
  }

  /* Фон скроллбара */
  ::-webkit-scrollbar-track {
    background-color: #4a4a4a;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background-color-3);
    border-radius: 0;
  }

  /*Mobile */
  /* padding: 0rem 1rem; */
  font-size: var(--font-size-small);
  /* overflow: hidden; */

  /*Tablet */
  @media (min-width: 768px) {
    /* padding: 0rem 1rem; */
    font-size: var(--font-size-regular);
  }
  /*LAPTOP */
  @media (min-width: 1024px) {
    /* padding: 0rem 1rem; */
    font-size: var(--font-size-medium);
  }
  /*PC */
  @media (min-width: 1440px) {
    /* padding: 0rem 1rem; */
    font-size: var(--font-size-big);
  }

  height: 100vh;
  min-width: var(--min-width);
  font-family: Onest;
  width: 100%;
  display: block;
  background-color: transparent;
  overflow-x: hidden;
  @media (max-width: 300px) {
    overflow-x: scroll;
  }
}

main {
  padding-top: var(--spacing-l);
}

section {
  background-color: #ffffff;
  padding: 0 var(--padding-hor);
  /* padding-bottom: 5vmax;
  padding-top: 0.1rem; */
  display: block;
}

.main_section {
 padding-bottom: 5vmax;
  padding-top: 0.1rem;

}

section:nth-of-type(2n) {
  background-color: var(--text-color-bright);
}

section:nth-of-type(3n) {
  background-color: var(--text-color-bright);
}

h3 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular);
  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

h4 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-extraLight);
  color: var(--text-color-dull-2);
  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular);
  @media (min-width: 768px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}
h2.alt {
  color: var(--text-color-opposite);
}

h1 {
  margin-top: 4vmax;
  margin-bottom: 5vmax;
  font-size: 1.4rem;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-regular);
  @media (min-width: 768px) {
    font-size: 1.5rem;
    /* line-height: 1.5rem; */
  }
  @media (min-width: 1200px) {
    font-size: 1.8rem;
    /* line-height: 1.8rem; */
  }
}

h1.alt {
  color: var(--text-color-opposite);
}

p {
  font-family: var(--font-family-regular);
  color: var(--text-color-regular);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 0.7rem;
  }
}

p.alt {
  color: #d8d8d8;
}

p.alt2 {
  color: var(--text-color-opposite);
  font-size: 1.3rem;
  /* max-width: 90%; */
  @media (min-width: 768px) {
    font-size: 0.9rem;
  }
  @media (max-width: 768px) {
    max-width: 90%;
  }
}

/*subtext*/
small {
  font-family: var(--font-family-regular);
  color: var(--text-color-dull);
  font-weight: var(--font-weight-extraLight);
  font-size: 0.8rem;
  @media (min-width: 768px) {
    font-size: 0.7rem;
  }
}

small.alt {
  color: var(--text-color-dull-2);
}

/*important text*/
b {
  color: var(--text-color-regular);
  font-family: var(--font-family-accent);
  font-size: 0.65rem;
}

iframe {
  border-radius: 1rem;
  border: none;
  outline: none;
  @media (min-width: 768px) {
  }
}

strong {
  color: var(--text-color-bright);
}

strong.alt {
  color: var(--background-color-4);
}

article {
  color: var(--text-color-regular);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  padding: 0.1rem;
  @media (min-width: 768px) {
    font-size: 0.7rem;
  }
}

a {
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--text-color-regular);
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
  transition: all 0.3s ease-in-out;
  text-align: center;

  @media (min-width: 1350px) {
    font-size: 0.6rem;
    padding: 0.2rem 0.4rem;
  }
  border: var(--border-default);
  border-color: transparent;
}

a.left {
  text-align: left;
  width: fit-content;
}

li {
  text-align: center;
}
@media (min-width:1000px) {
  a:hover {
  /* font-size: 0.63rem; */
  border-color: var(--accent-color-main);
  color: var(--background-color-3);
  /* background-color: var(--background-color-2); */
}
}

.mobileHidden {
  @media (max-width: 1200px) {
    display: none;
  }
}

.mobileHidden {
  border: none;
}

.wideScreenHidden {
  @media (min-width: 1201px) {
    display: none;
  }
}

.wideScreenHidden {
  border: none;
}

.textCall {
  border: 1px solid var(--accent-color-main);
  font-family: var(--font-family-regular);
  color: var(--text-color-regular);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 0.7rem;
  }
}
@media (min-width:1000px) {
  .textCall:hover {
  font-size: 0.8rem;
  border: 1px solid var(--text-color-bright);
}
}

.ending {
  width: 100%;
  height: 20vh;
  @media (min-width: 768px) {
    height: 10vh;
  }
}

hr {
  width: 100vw;
  height: 0.02rem;
}

li {
  list-style: none;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main-sub-text {
  color: #9d9d9d !important;
  font-weight: 300;
}