.wrapper {
    display: flex;
    justify-content: center;
}

.ColumnInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    flex-direction: column; 
    gap:1.5vh;
    @media (min-width:768px) {
        width: 30vw;
        flex-direction: column;
        gap:2vh;
    }
}

.RowInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vw;
    @media (min-width:768px) {
        
        flex-direction: row;
    }
    @media (max-width:768px) {
        
        gap: 2.5rem;
    }
}

.ColumnBig {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    /* margin-left: 5vmax; */
    gap: 2.5rem;
    @media (min-width:768px) {
        gap: 14vh;
        /* margin-left: 12vmax; */
    }
}

.ColumnInfo2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    gap:1.5vh;
    @media (min-width:768px) {
       width: 50vw;
       gap:2vh;
    }
}

.extraMargin {
        margin-top: 3vh;
    

    @media (min-width:768px) {
        margin-bottom: 3vh;
    }
    
}