.header {
  background-color: var(--background-color-1);
  /* background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.0)); */
  /* padding:  1.0rem 1.5rem ; */
  position: fixed;
  left: 0px;
  /* top: 0.5vh; */
  z-index: 9;
  font-family: var(--font-family-regular);
  min-height: 40px;
  min-width: var(--min-width);
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  /* gap: 3vh; */
  display: flex;
  height: 5vh;
  /* padding: 0.1rem 1.3vw; */
  padding: 0.1rem 0.8rem;

  /* @media (max-width: 768px) {
    overflow-x: scroll;
    overflow-y: hidden;
  } */
  /* @media (min-width: 768px) {
    gap: 1vw;
  }
  @media (min-width: 1200px) {
    gap: 1vw;
  } */
  /* border: var(--border-default);
  border-color: var(--text-color-regular); */
}

.nav {
  /* width: fit-content; */
  display: none;
  flex-direction: row;
  align-content: center;
  @media (min-width: 1024px) {
    display: flex;
  }
}

.ul {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

/* .activeLink:not(.logo) {
  color: var(--text-color-bright);
  border-color: var(--accent-color-main);
} */

.logo {
  transition: var(--transition-default);
}

.logo:hover {
  fill: var(--background-color-3);
  border: none;
}

a.logo {
  border: none;
}

/* .activeLink:hover {
  color: var(--text-color-bright);
  fill: var(--text-color-bright);
} */

/* .activeLink {
  border: none !important;
  border-color: transparent !important;
} */

.navMenuMobile {
  width: 100%;
  height: auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  stroke: #727272;
  color: #727272;

  @media (max-width: 768px) {
    display: none;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navMenu__text {
  font-weight: 300;
  color: inherit;
  font-size: 0.5rem;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.navMenu__icon {
  stroke: inherit;
}

.navMenu:hover {
  color: var(--accent-color-main);
  stroke: var(--accent-color-main);
  fill: var(--accent-color-main);
}

.activeLink {
  color: var(--text-color-bright);
  stroke: var(--text-color-bright);
  fill: var(--text-color-bright);
}
