

.footer {
    min-height: 25vh;
    background-color: var(--text-color-bright);
   
    border-top: var(--border-opposite);
    display: flex;
    flex-direction: column;

    
}

.footerUpper {
    padding: 0 var(--padding-hor);
    padding: 1rem;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:5vmin;
    padding-bottom: 5vmax;
    /* flex: 40vw 1; */
}

.datablock {
    
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

.borderBlock {
    
    border: var(--border-opposite);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 4vmin;
    flex-direction: column;
}

.urlWrapper {
    /* margin-top:3vmin; */
    padding: 0 var(--padding-hor);
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:5vmin;
    @media (max-width:768px) {
        /* min-height: 20vh; */
        /* margin-bottom: 11vh; */
        flex-direction: column;
    }
}

.extraMargin {
    @media (min-width:1200px) {
        margin-left: -0.4rem;
    }
    @media (max-width:768px) {
        margin-left: -0.2rem;
    }
    
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vmin;
    width: 100%;
}

.inlineTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:1vmin;
}


.pad {
    padding: 0 var(--padding-hor);
}