.grid {
  display: grid;
  height: auto;
  gap: 3vmax 2vmax;
  /* margin: -2vmax 0; */
  margin-bottom: 2vmax;
  padding: 2vmax 2vmax;
  grid-template-columns: 1fr;
  min-width: 150px;
  /* grid-gap: 1vmin; */
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  }
  border: var(--border-default);
  width: 100%;
  border-radius: 1rem;
}

.gridItem {
  padding: 0.7rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  /* word-wrap: break-word;
  word-break: break-word; */
  /* border: 1px solid var(--text-color-regular);  */
  display: flex;
  /* justify-content: space-between; */
  gap: 3vmin;
  align-items: center;
}

.wrapper {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  
}

.teacherText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.img {
  border-radius: 1rem;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1;
}

p.teachers {
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 0.65rem;
  }
}

small.teachers {
  font-size: 0.8rem;
  @media (min-width: 768px) {
    font-size: 0.45rem;
  }
}

.cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  /* padding: 0 2vw; */
  padding: 0 var(--padding-hor);
}

.title {
  display: flex;
  margin-bottom: 2vmax;
  flex-direction: row;
  align-items: center;
  /* padding-left: calc(5vw); */
  align-items: flex-start;
  gap: var(--spacing-l);
  height: auto;
  /* margin-top: 1vh;
  margin-bottom: 10vh; */

  @media (max-width: 1068px) {
    gap: var(--spacing-s);
    flex-direction: column;
  }
}

.search {
  
  outline: 0px;
  border: none;
  height: 1.5rem;
  min-width: 15%;
  font-size: 20px;
  /* padding: 0.4rem; */
  color: var(--text-color-regular);
  border-bottom: var(--border-default);
  background-color: transparent;
  border-radius: 0;
  @media (max-width:768px) {
    min-width: 21%;
    height: 1.6rem;
  }
}

.local {
  margin: 0;
  line-height: .85;
}
