.wrapper {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: flex-start;
  justify-items: center;
  min-height: 100svh;
  padding: 0.05rem;
  /* gap: 4px; */
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  grid-row-start: 2;
  width: 100%;
}