/* .wrapper {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  min-height: 100svh;

  margin-top: var(--spacing-xs);
  font-family: var(--font-geist-sans);
} */

.main {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  /* grid-row-start: 2; */
  width: 100%;
  height: 100%;
}