.container {
  
  /* padding: 0vmax 5vmax;
  padding-top: 10vmax; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5vh;
  /* background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
  url(../../shared/assets/images/backgrounds/01.jpg);
  background-repeat: none;
  background-size: cover; */
}

.heroText {
  width: 70%;
  line-height: 127%;
  letter-spacing: 0.1rem;
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-extraLight);
  font-size: 1.1rem;
}

/* .left5vw {
  margin-left: 5vw;
} */

/* .fullScreen {

  min-height: 80vh;
} */

.parallax {
  /* background: linear-gradient(rgba(255, 255, 255, 0.758), rgba(255, 255, 255, 0.676)), 
              url("../../shared/assets/images/backgrounds/pattern01.svg");
  
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 10vmax 20vmax; */
  background: linear-gradient(to bottom, var(--background-color-main) 0% 49.9%, var(--text-color-bright) 51.1% 100%);
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  
}

.blockLeft {
  background-color: var(--text-color-bright);
  color: var(--text-color-opposite) ;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* border-top-right-radius: 1rem; */
  
}

.blockLeft h3.special {
  color: var(--text-color-opposite);
  font-size: 1.3rem;
  text-align: center;
}

.blockRight {
  background-color: var(--background-color-main);
  color: var(--text-color-bright) ;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* border-bottom-left-radius: 1rem; */
  
}

.blockRight h2.special {
  color: var(--text-color-bright);
  font-size: 1.7rem;
  text-align: center;
}

.mapWrapper {
  /* border-radius: 1rem;
  border: var(--border-default); */
  height:70vh;
  width:90%;
  /* height:75vh; */
  
  @media (min-width:768px) {
    
  }
}
